body {
background: #111;
color: white;
font-family: Arial;
text-align: center;
}

#gallery {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
margin-top: 20px;
}

.photo {
background: #222;
padding: 10px;
border-radius: 10px;
width: 250px;
}

img {
width: 100%;
border-radius: 10px;
}

button {
margin: 5px;
padding: 8px;
border: none;
border-radius: 5px;
background: hotpink;
color: white;
cursor: pointer;
}
